@font-face {
    font-family: 'rotablack';
    src: url('./Rota/rota-black-webfont.woff2') format('woff2');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rotabold';
    src: url('./Rota/rota-bold-webfont.woff2') format('woff2');  
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rotablack';
    src: url('./Rota/rota-black-reg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rotablack';
    src: url('./Rota/rota-black-med-webfont.woff2') format('woff2');  
    font-weight: normal;
    font-style: normal;
}

html body {
   margin: 0; 
   padding: 0;
   font-family: 'rotablack';
}
.text-1 {
    color: #5448C8;
} 
.text-2 {
    color: #6DD0A5;
} 
.text-3 {
    color: #5f5f5f;
} 
.text-4 {
    color: #999999;
} 
 
.bg-color-1{
    background-color: #5448C8;
}
.bg-color-2{
    background-color: #6DD0A5;
}
.bg-color-3{
    background-color: #2D2D2D;
}
.bg-color-4{
    background-color: #999999;
}
.bg-color-4{
    background-color: #d4d4d4;
}
.fontsize {
    font-size: 62px;
}
.card-margin {
    margin-right: 3rem;
}

@media (max-width: 540px) {
    .card-margin {
        margin-right: 0;
    }
}
